@model MenuRegistrationViewModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="MenuAddOrEdit" asp-route-id="@Model.MenuId" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MenuId" />
            <input type="hidden" asp-for="DtRegistered" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" asp-for="MainMenuId">Main Menu</label>
                        <select id="ddlMainMenus" name="MainMenuId" asp-items="@Model.MainMenus" class="form-control"></select>
                        <span asp-validation-for="MainMenuId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.Title" class="control-label"></label>
                        <input asp-for="@Model.Title" class="form-control" />
                        <span asp-validation-for="@Model.Title" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.Label" class="control-label"></label>
                        <input asp-for="@Model.Label" class="form-control" />
                        <span asp-validation-for="@Model.Label" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.Sequence" class="control-label"></label>
                        <input asp-for="@Model.Sequence" class="form-control" />
                        <span asp-validation-for="@Model.Sequence" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.Action" class="control-label"></label>
                        <input asp-for="@Model.Action" class="form-control" />
                        <span asp-validation-for="@Model.Action" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="status">Status</label>
                        <select class="form-control single-select" name="Status" asp-for="@Model.Status">
                            <option selected value="">[Select Status]</option>
                            <option value="Active">Active</option>
                            <option value="Disabled">Disabled</option>
                        </select>
                        <span asp-validation-for="@Model.Status" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
